.team-list {
  display: flex;
  column-gap: 30px;
  padding-bottom: 94px;
}

.card-box {
  padding: 30px 32px;
}

.team-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-position {
  color: #757575;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
}

.media-list {
  display: flex;
  column-gap: 10px;
  margin-top: 16px;
}

.media-item {
  width: 44px;
  height: 44px;
}

.icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon:hover {
  background-color: #2196f3;
  border-radius: 50%;
  fill: white;
}
