.client-list {
  display: flex;
  margin-bottom: 94px;
  justify-content: space-between;

  .client-list__item {
    width: 170px;
    height: 92px;
    outline: 1px solid #afb1b8;
    cursor: pointer;

    &:hover .client-logo {
      fill: $hover-color;
    }

    &:hover {
      outline: 1px solid $hover-color;
    }

    .client-logo {
      width: 106px;
      height: 60px;
      margin: 16px 32px;
      fill: #afb1b8;
      transition: fill, outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
